.glass-item-container {
  border: 1.5px solid rgb(22, 21, 21);
  border-radius: 30px;
  width: 30%;
  padding: 40px;
  padding-left: 50px;
  padding-right: 70px;
  margin-top: 50px;
  background-color: #ffffff;
  transition: all 0.5s linear;
  position: relative;
  height: 450px;
}

.glass-item-container:hover {
  box-shadow: 6px 6px #000000;
}

.glass-image {
  width: 300px;
  cursor: pointer;
}

/*Hilton */

.title-heading {
  color: #110f11;
  font-family: sans-serif;
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 500;
  text-align: center;
  font-size: 28px;
}

.no-of-colors {
  text-align: center;
  margin-bottom: 20px;
}
