.nav-bar {
  display: none;
}

@media screen and (min-width: 992px) {
  .nav-bar {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 16px #00000020;
    position: relative;
  }
}

.nav-body {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-icon-container {
  display: flex;
  align-items: center;
  height: 100px;
}

.icon-name {
  margin: 0;
  font-family: sans-serif;
  margin-left: 5px;
}

.nav-icon {
  width: 100px;
  height: 100%;
  cursor: pointer;
}

.nav-links-container {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 30px;
}

.account-icons-container {
  display: flex;
  align-items: center;
  gap: 25px;
}

.account-icons {
  color: rgb(12, 10, 10);
  font-size: 30px;
  cursor: pointer;
}

.collapse-nav-container {
  height: 40vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: -80vmin;
  transition: all 0.5s linear;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.collapse-navbar {
  top: 100px;
  box-shadow: inset 0px 50px 0px 500px #00000010;
}

.glass-women-image {
  height: 220px;
}

.account-frame {
  width: 250px;
  position: absolute;
  background-color: #00000050;
  height: 85%;
  right: -20%;
  transition: all 0.2s linear;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  backdrop-filter: blur(10px);
}

.active-account {
  right: 0%;
}

.account-items-container {
  display: flex;
  flex-direction: column;
}

.account-items {
  font-size: 22px;
  font-family: "Roboto";
  font-weight: 500;
  cursor: pointer;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 15px;
}

.logout-button {
  border: 0;
  border-radius: 10px;
  height: 40px;
  width: 80px;
  background-color: #ffffff;
  color: #000000;
  font-family: "Roboto";
  font-weight: 600;
  cursor: pointer;
}

.search-bar-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 180px;
  top: 3%;
  visibility: hidden;
  transition: all 0.1s linear;
}

.search-bar {
  border: 0;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  background-color: #ffffff70;
  padding-left: 20px;
  color: #ffffff;
  outline: none;
}

.active-search {
  visibility: visible;
  top: 10%;
}
