.shop-container {
  display: none;
}

@media screen and (min-width: 992px) {
  .shop-container {
    display: flex;
    height: 85vh;
  }
}

.frame-container {
  background-image: linear-gradient(
    135deg,
    rgb(230, 143, 233),
    rgb(187, 88, 187)
  );
  transition: all 0.3s linear;
  cursor: pointer;
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: space-evenly;
}

.shop-card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 75%;
}

.expand-frames {
  width: 75%;
}

.glasses-container {
  background-image: linear-gradient(
    135deg,
    rgb(112, 152, 240),
    rgb(78, 105, 196)
  );
  cursor: pointer;
  transition: all 0.3s linear;
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.expand-glasses {
  width: 75%;
}

/* Try Frames */

.try-frames-container {
  display: flex;
  flex-direction: column;
}

.try-frames-image {
  margin-top: 30px;
  width: 100%;
  max-width: 250px;
}

.try-frames-heading {
  color: #ffffff;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 35px;
  width: 500px;
}

.try-frames-text {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 18px;
  width: 400px;
}

@keyframes showText {
  from {
    width: 500px;
    opacity: 0;
  }
  to {
    width: 500px;
    opacity: 1;
  }
}

/* Shop Glasses */

.buy-glasses-container {
  display: flex;
  flex-direction: column;
}

.buy-glasses-heading {
  max-width: 500px;
  color: #ffffff;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 35px;
  width: 450px;
}

.money {
  color: #4ad8f1;
  font-family: "Lobster";
}

.shop-glasses-image {
  width: 250px;
}

.shop-buttons-container {
  display: flex;
  max-width: 250px;
  justify-content: space-between;
  margin-top: 30px;
}

.shop-button {
  border: 0;
  border-radius: 8px;
  height: 45px;
  width: 110px;
  background-color: #ffffff;
  color: #272929;
  font-weight: 500;
  font-size: 15px;
  font-family: "Roboto";
  cursor: pointer;
  outline: none;
  transition: all 0.3s linear;
}

.shop-button:hover {
  background-color: #272929;
  color: #ffffff;
}
